@media (max-width: 1470px) {
   .about-content {
      flex-wrap: wrap;
   }
   .about-content__left {
      max-width: 100%;
      min-height: 500px;
      /* margin-right: 0;
      margin-bottom: 20px; */
      margin: 0 0 32px 0;
   }

   .about-content__right {
      max-width: 100%;
   }
   .footer__text {
      display: none;
   }
}

@media (max-width: 1190px) {
   .site-heading {
      font-size: 42px;
   }

   .burger {
      display: block;
      position: relative;
      color: #000;
   }

   .hero__title {
      font-size: 60px;
   }

   .hero-content__btn {
      padding: 20px 25px;
      font-size: 18px;
   }

   .logo__img {
      width: 100px;
   }

   .burger {
      width: 30px;
      position: relative;
      height: 23px;
   }

   .burger__line {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: var(--color-black);
   }

   .burger__line:first-child {
      top: 0;
      left: 0;
   }

   .burger__line:nth-child(2) {
      top: 45%;
      left: 0;
   }

   .burger__line:last-child {
      bottom: 0;
      left: 0;
   }

   .logo__img {
      width: 150px;
   }

   .search {
      margin-right: 0;
   }

   .nav {
      width: 420px;
      height: 769px;
      position: absolute;
      left: -100vw;
      padding: 50px;
      top: 0;
      z-index: 100;
      background-color: var(--color-white);
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 32px 32px;
      transition: left 0.3s ease-in-out;
   }

   .nav__list {
      flex-direction: column;
      align-items: flex-start;
   }

   .nav__item {
      margin-right: 0;
   }

   .nav__item:not(:last-child) {
      margin-bottom: 60px;
   }

   .menu-close {
      position: relative;
      display: block;
      width: 23px;
      height: 23px;
      margin-bottom: 100px;
   }

   .menu-close::before,
   .menu-close::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: var(--color-black);
   }

   .menu-close::before {
      transform: rotate(45deg);
   }

   .menu-close::after {
      transform: rotate(-45deg);
   }

   .nav.burger-active {
      left: 0;
      transition: left 0.3s ease-in-out;
   }

   .hero {
      height: 670px;
   }

   .hero-content {
      top: 162px;
   }

   .hero__titles {
      font-size: 60px;
      line-height: 76px;
      margin-bottom: 10px;
   }

   .hero-content__text {
      font-size: 20px;
      line-height: 24px;
      max-width: 660px;
      margin-bottom: 58px;
   }

   .about {
      padding-top: 35px;
   }

   .about__heading {
      margin-bottom: 8px;
   }

   .about-content__left {
      min-height: 640px;
      width: 100%;
      margin-right: 0;
   }

   .about-left__inner {
      width: 100%;
      padding: 35px 48px 33px 54px;
   }

   .about-left__text {
      max-width: 454px;
      margin-right: 0;
   }

   .about-left__btn {
      text-wrap: nowrap;
   }

   .about-left__inner {
      width: 100%;
      padding: 35px 48px 33px 54px;
   }

   .about-content__right {
      width: 100%;
   }
   .about-right__item {
      background-position: left 25px top 55px;
   }

   .about-right__item:first-child {
      background-position: left 25px top 55px;
   }

   .about-right__title {
      font-size: 24px;
      margin-bottom: 8px;
   }
   .about-right__text {
      font-size: 18px;
   }

   .work {
      padding-top: 80px;
   }

   .site-heading {
      font-size: 42px;
   }

   .work__item:not(:last-child) {
      margin-right: 72px;
   }

   .work__list {
      margin-bottom: 55px;
   }

   .work-left__title {
      margin-bottom: 9px;
   }

   .work-left__text {
      max-width: 437px;
      margin-bottom: 24px;
      line-height: 29px;
   }

   .work-right {
      width: 38%;
   }

   .faq__title {
      font-size: 20px;
      max-width: 756px;
   }

   .footer__title {
      font-size: 37px;
   }

   .footer__form {
      max-width: 541px;
   }

   /* .footer-wrapper {
      min-width: 100%;
   } */

   .footer-right {
      display: block;
      width: 59%;
   }

   .footer__container {
      justify-content: space-between;
   }

   .form__btn {
      padding: 19px 80px;
      margin-bottom: 10px;
   }

   .footer__logo {
      margin-bottom: 20px;
   }

   .footer__list {
      margin-bottom: 90px;
   }

   .footer__text {
      display: none;
   }
}
