@media (max-width: 900px) {
   /* hero */

   .header__container {
      height: 68px;
   }

   .hero {
      height: 663px;
   }

   .hero-content {
      top: 163px;
      left: 40px;
   }

   .hero__title {
      font-size: 48px;
      line-height: 60px;
   }

   .hero-content__text {
      font-size: 18px;
      max-width: 588px;
   }

   /* .hero-content__text {
      width: 500px;
      font-size: 18px;
      margin-top: 17px;
   } */

   .nav {
      height: 731px;
   }

   /* about */

   .about-content__left {
      min-height: 648px;
   }

   .about-left__text {
      margin: 0;
      max-width: 366px;
   }

   .about-left__inner {
      padding: 35px 38px 33px 40px;
   }

   .about-right__item {
      padding: 37px 43px 35px 298px;
      padding-left: 170px;
      background-size: 114px 99px;
      background-position: left 28px top 70px;
   }

   .about-right__item:first-child {
      background-position: left 25px top 70px;
   }

   /* work */

   .work__content {
      flex-direction: column-reverse;
   }

   .work__list {
      margin-bottom: 42px;
      justify-content: space-between;
   }

   .work-right,
   .work-left {
      width: 100%;
      margin-bottom: 38px;
   }

   .work-left__text {
      max-width: 100%;
   }

   /* FAQ */

   .faq {
      padding-bottom: 70px;
   }

   .faq__title {
      max-width: 570px;
   }

   .faq__heading {
      margin-bottom: 36px;
   }

   .faq__title {
      max-width: 570px;
      margin-right: 100px;
   }
   .faq__wrapper {
      padding: 41px 0;
   }

   /* footer */

   .footer__container {
      flex-direction: column-reverse;
      align-items: center;
   }

   .footer__title {
      text-wrap: nowrap;
   }

   .footer-right {
      width: 80%;
      margin-bottom: 44px;
      display: flex;
      justify-content: space-between;
   }

   .footer-left {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
      align-items: center;
   }

   .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .footer-social {
      margin-left: 10px;
   }

   .footer__list {
      display: none;
   }

   .footer__icon {
      flex-shrink: 0;
   }
}
