@font-face {
   font-family: "Montserrat";
   src:
      local("Montserrat-ExtraBold"),
      url("../fonts/montserrat-v21-latin_cyrillic-800.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-800.woff") format("woff");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src:
      local("Montserrat-Bold"),
      url("../fonts/montserrat-v21-latin_cyrillic-700.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-700.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src:
      local("Montserrat-SemiBold"),
      url("../fonts/montserrat-v21-latin_cyrillic-600.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-600.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   src:
      local("Montserrat-Regular"),
      url("../fonts/montserrat-v21-latin_cyrillic-regular.woff2") format("woff2"),
      url("../fonts/montserrat-v21-latin_cyrillic-regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* common specification */

* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

:root {
   --color-white: #fff;
   --color-black: #333333;
   --color-default: #ff9900;
   --color-active: #e1670e;
   --color-hover: #ffb84d;
   --color-focus: #ffb84d;
   --color-gray: #cacaca;
   --color-dark-gray: #495057;
   --color-middle-gray: #6c757d;
   --color-light-gray: #adb5bd;
   --background-color: #f3f4f8;
   --footer-color: #22223b;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: var(--color-white);
}

a {
   text-decoration: none;
   background-color: transparent;
}

button {
   border-radius: 16px;
   cursor: pointer;
}

html {
   scroll-behavior: smooth;
}

.list-reset {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.site-heading {
   font-weight: 400;
   font-size: 48px;
   color: var(--color-black);
}

.btn-reset {
   border: none;
   cursor: pointer;
   background-color: transparent;
   padding: 0;
   align-items: center;
   border-radius: 16px;
}

.site-btn {
   font-weight: 700;
   border: none;
   cursor: pointer;
   background: var(--color-default);
   color: var(--color-white);
   transition: background 0.25s ease;
}

.site-btn:focus,
.site-btn:hover {
   border: none;
   outline: none;
   background-color: var(--color-hover);
}

.site-btn:active {
   transform: translateY(2px);
   background-color: var(--color-active);
}

.container {
   max-width: 1920px;
   margin: 0 auto;
   padding: 0 75px;
}

/* header */

.header {
   width: 100%;
   border-radius: 0px 0px 32px 32px;
   box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__inner {
   display: flex;
   align-items: center;
}

.header__logo:focus {
   outline: 2px solid var(--color-default);
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__item {
   font-size: 15px;
   font-weight: 600;
}

.nav__item:not(:last-child) {
   margin-right: 85px;
}

.nav__item:last-child {
   margin-right: 70px;
}

.nav__link {
   font-weight: 600;
   font-size: 18px;
   border: 2px solid transparent;
   outline: none;
   transition: 0.3s ease-in-out;
   color: var(--color-black);
}

.nav__link:hover {
   transition: 0.3s ease-in-out;
   border-bottom-color: var(--color-hover);
}

.nav__link:focus {
   transition: 0.3s ease-in-out;
   border-color: var(--color-focus);
}

.nav__link:active {
   color: var(--color-active);
   border-bottom: 2px solid var(--color-active);
}

.menu-close {
   display: none;
}

.search {
   width: 24px;
   height: 24px;
   border: none;
   padding: 0;
   cursor: pointer;
   margin-right: 12px;
   border: none;
   position: relative;
   outline: none;
   background-color: transparent;
}

.search::before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   width: 110%;
   height: 110%;
   border: 2px solid transparent;
}

.search:focus::before {
   border-color: var(--color-default);
}

.search__svg svg rect {
   transition: react 0.3s ease;
   fill: var(--color-black);
}

.search__svg svg {
   transition: stroke 0.3s ease;
   stroke: var(--color-black);
}

.search:hover .search__svg svg {
   transition: stroke 0.3s ease;
   stroke: var(--color-hover);
}

.search:hover .search__svg svg rect {
   transition: react 0.3s ease;
   fill: var(--color-hover);
}

.burger {
   display: none;
}

/* hero */

.hero {
   /* height: 620px; */
   margin-top: 50px;
   height: 620px;
}

.hero__container {
   height: 100%;
   overflow: hidden;
}

.swiper-container {
   height: 100%;
   width: 100%;
}

.swiper-slide {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-radius: 25px;
}

.swiper-pagination-bullet-active {
   background-color: var(--background-color);
}

.hero-content {
   max-width: 840px;
   position: absolute;
   top: 106px;
   left: 78px;
   z-index: 100;
   animation: slideUp 1s forwards;
   /* display: inline-block; */
   transform: translateY(150%);
}

.hero__title {
   font-size: 70px;
   font-weight: 800;
   line-height: normal;
   color: var(--color-white);
   margin: 0;
   margin-bottom: 18px;
   line-height: 86px;
}

@keyframes slideUp {
   0% {
      transform: translateY(150%);
   }
   100% {
      transform: translateY(0%);
   }
}

.hero-content__text {
   width: 670px;
   height: 58px;
   font-weight: 700;
   font-size: 21px;
   margin: 24px 0 95px 0;
   line-height: 29px;
   color: var(--color-white);
}

.hero-content__btn {
   outline: none;
   padding: 25px 30px;
   font-size: 20px;
}

/* about */

.about {
   padding-top: 50px;
   padding-bottom: 20px;
}

.about__heading {
   margin: 0;
   margin-bottom: 20px;
}

.about__text {
   margin: 0;
   line-height: 32px;
   color: var(--color-black);
   text-align: justify;
   margin-bottom: 50px;
}

.about-content {
   display: flex;
   justify-content: space-between;
}

.about-content__left {
   background-image: url(../img/about-bg.jpg);
   margin-right: 30px;
   max-width: 870px;
   display: flex;
   align-items: flex-end;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-radius: 25px;
}

.about-left__inner {
   padding: 21px 65px 24px 54px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 25px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-left__text {
   margin-right: 70px;
   font-weight: 700;
   line-height: 32px;
   color: var(--color-white);
}
.about-left__btn {
   padding: 18px 37px;
   font-weight: 700;
   transition: all 0.3s ease-in-out;
   outline: none;
   border: 3px solid var(--color-default);
   color: var(--color-white);
   text-wrap: nowrap;
}

.about-left__btn:hover {
   transition: background-color 0.3s ease-in-out;
   background-color: var(--color-hover);
}

.about-left__btn:focus {
   transition: background-color 0.3s ease-in-out;
   background-color: var(--color-focus);
}

.about-left__btn:active {
   transition: all 0.3s ease-in-out;
   border-color: var(--color-christine);
   background-color: var(--color-active);
}

.about-content__right {
   max-width: 870px;
}

.about-right__item {
   background-position: left 50px top 65px;
   background-repeat: no-repeat;
   padding: 67px 118px 68px 298px;
   background-color: var(--background-color);
   background-image: linear-gradient(0deg, #e3e3e3 0%, #e8efef 100%);
   border-radius: 25px;
   border: 1px solid var(--color-gray);
   padding: 50px 50px 50px 226px;
}

.about-right__item:first-child {
   margin-bottom: 32px;
   background-position: left 50px top 50px;
}

.about-right__title {
   line-height: 30px;
   font-weight: 700;
   font-size: 24px;
   margin: 0;
}

.about-right__text {
   line-height: 32px;
   margin: 0;
   text-align: justify;
}

/* Work */

.work {
   padding-top: 100px;
}

.work__heading {
   margin: 0;
   margin-bottom: 50px;
}

.work__list {
   display: flex;
   align-items: center;
   margin-bottom: 50px;
}

.work__item:not(:last-child) {
   margin-right: 90px;
}

.work__btn {
   font-size: 18px;
   position: relative;
   outline: none;
   color: var(--color-black);
}

.work__btn::before {
   content: "";
   position: absolute;
   top: -3px;
   left: -4px;
   width: 110%;
   height: 100%;
   transition: border-color 0.3s ease-in-out;
   border: 2px solid transparent;
}

.work__btn:focus::before {
   transition: border-color 0.3s ease-in-out;
   border-color: var(--color-focus);
   border-radius: 36px;
}

.work__btn:hover {
   transition: color 0.3s ease-in-out;
   color: var(--color-hover);
}

.work__btn--default {
   color: var(--color-black);
}

.work__btn:active::before {
   border-color: transparent;
}

.work__btn:active {
   transition: color 0.3s ease-in-out;
   color: var(--color-active);
}

.work__content {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.work-left {
   width: 50%;
   min-height: 471px;
   display: flex;
   flex-direction: column;
}

.work-left__title {
   margin: 0;
   color: var(--color-black);
   font-weight: 700;
   font-size: 24px;
}

.work-left__text {
   margin: 0 0 10px 0;
   color: var(--color-black);
   max-width: 758px;
   line-height: 46px;
   text-align: justify;
}

.work-left__btns {
   display: flex;
   align-items: center;
}

.work-left__btn {
   transition: opacity 0.3s ease-in-out;
   outline: none;
   padding: 20px 38px;
}

.work-left__btn:first-child {
   margin-right: 30px;
   border-radius: 16px;
}

.work-left__btn--border {
   background-color: transparent;
   transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
   border: 1px solid var(--color-black);
}

.work-left__btn--border:hover {
   transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
   border-color: var(--color-light-gray);
   background-color: var(--color-middle-gray);
   color: var(--color-white);
}

.work-left__btn--border:focus {
   transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
   border-color: var(--color-middle-gray);
   background-color: var(--color-middle-gray);
   color: var(--color-white);
}

.work-left__btn--border:active {
   transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
   background-color: #000000;
   color: var(--color-white);
}

.work-right {
   padding-top: 6px;
   width: 49%;
   height: 100%;
}

.work-right__img {
   width: 100%;
   object-fit: cover;
   border-radius: 25px;
}

.tab-content {
   display: none;
}

.tab-content--active {
   display: flex;
}

/* faq */

.faq {
   padding: 80px 0 100px 0;
}

.faq__accordion {
   border-bottom: 1px solid var(--color-gray);
}

.faq__wrapper {
   position: relative;
   outline: none;
   cursor: pointer;
   padding: 41px 0;
   transition: border-color 0.3s ease-in-out;
   border-top: 1px solid var(--color-gray);
}

.faq__wrapper:hover .accordion-icon {
   transition:
      background-color 0.3s ease-in-out,
      background-image 0.3s ease-in-out,
      transform 0.3s ease-in-out;
   background-color: var(--color-default);
   background-image: url("../img/white-plus.svg");
}

.ui-state-hover {
   transition: border-color 0.3s ease-in-out;
   border-color: var(--color-default);
   z-index: 10;
}

.ui-state-focus {
   transition: border-color 0.3s ease-in-out;
   border-color: var(--color-default);
   z-index: 10;
}

.ui-state-focus .accordion-icon {
   transition:
      background-color 0.3s ease-in-out,
      background-image 0.3s ease-in-out,
      transform 0.3s ease-in-out;
   background-color: var(--color-default);
   background-image: url("../img/white-plus.svg");
}

.faq__title {
   margin: 0;
   font-size: 24px;
   font-weight: 700;
   outline: none;
}

.faq__title:focus::before {
   border-color: var(--color-default);
}

.ui-accordion-content {
   min-height: auto;
   padding-bottom: 40px;
   border-bottom: 1px solid var(--color-default);
   margin-bottom: -1px;
}

.accordion-icon {
   width: 50px;
   height: 50px;
   display: block;
   position: absolute;
   top: 30px;
   right: 0;
   border-radius: 100%;
   background-image: url("../img/accordon-icon.svg");
   background-repeat: no-repeat;
   background-position: center;
   transition: transform 0.3s ease-in-out;
   background-color: var(--color-gray);
}

.ui-state-active .accordion-icon {
   transform: rotate(45deg);
   transition: transform 0.3s ease-in-out;
}

.faq__description {
   line-height: 32px;
   font-size: 16px;
   margin: 0;
   text-align: justify;
}

.faq__description:first-child {
   margin-bottom: 40px;
}

/* footer */

   .footer {
      padding: 50px 0 20px 0;
      background-color: var(--footer-color);
   }

   .footer__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }

   .footer__logo {
      display: block;
      margin-bottom: 15px;
   }

   .footer-right {
      align-items: center;
      justify-content: space-between;
      padding-top: 14px;
      display: flex;
      width: 70%;
   }

   .footer__form {
      display: flex;
      flex-direction: column;
   }

   .footer__list {
      margin-bottom: 113px;
   }

   .footer__item:not(:last-child) {
      margin-bottom: 16px;
   }

   .footer__link {
      font-weight: 600;
      font-size: 18px;
      outline: none;
      position: relative;
      transition: color 0.3s ease-in-out;
      color: var(--color-gray);
   }

   .footer__link::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -5px;
      width: 110%;
      height: 110%;
      border: 2px solid transparent;
   }

   .footer__link:focus::before {
      transition: border-color 0.3s ease-in-out;
      border-color: var(--color-focus);
   }

   .footer__link:hover {
      transition: color 0.3s ease-in-out;
      color: var(--color-hover);
   }

   .footer__link:active {
      transition: color 0.3s ease-in-out;
      color: var(--color-active);
   }

   .footer-social {
      display: flex;
      align-items: center;
   }

   .footer-social:last-child {
      margin-right: 0;
   }

   .footer__icon {
      width: 60px;
      height: 60px;
      position: relative;
      outline: none;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
   }

   .footer__icon::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      width: 110%;
      height: 110%;
      border: 2px solid transparent;
   }

   .footer__icon:focus::before {
      border-color: var(--color-focus);
   }

   .footer__icon svg {
      transition: fill 0.3s ease-in-out;
      fill: #7c7c7c;
   }

   .footer__icon:hover svg {
      transition: fill 0.3s ease-in-out;
      fill: var(--color-hover);
   }

   .footer__icon:active svg {
      transition: fill 0.3s ease-in-out;
      fill: var(--color-active);
   }

   .footer__icon:not(:last-child) {
      margin-right: 25px;
   }

   .footer__title {
      margin: 0 0 20px 0;
      font-weight: 400;
      font-size: 46px;
      color: var(--color-light-gray);
      text-wrap: nowrap;
   }

   .footer-wrapper {
      max-width: 570px;
   }

   .form__input {
      border: none;
      border-radius: 16px;
      outline: none;
      padding-left: 24px;
      height: 60px;
      margin-bottom: 25px;
      transition: background-color 0.3s ease-in-out;
      background-color: var(--color-dark-gray);
   }

   .form__input::placeholder {
      color: var(--color-light-gray);
   }

   .form__input:hover {
      transition: background-color 0.3s ease-in-out;
      background-color: var(--color-middle-gray);
   }

   .form__input:focus {
      color: var(--color-middle-gray);
   }

   .form__input:active {
      transition: background-color 0.3s ease-in-out;
      background-color: var(--color-middle-gray);
   }

   .form__input:not(:placeholder-shown) {
      color: var(--background-color);
   }

   .form__area {
      border: none;
      border-radius: 16px;
      outline: none;
      padding: 14px 0 0 24px;
      height: 150px;
      resize: none;
      margin-bottom: 32px;
      max-width: 100%;
      background-color: var(--color-dark-gray);
   }

   .form__area::placeholder {
      color: var(--color-light-gray);
   }

   .form__area:hover {
      transition: background-color 0.3s ease-in-out;
      background-color: var(--color-middle-gray);
   }
   .form__area:focus {
      color: var(--color-middle-gray);
   }

   .form__area:active {
      transition: background-color 0.3s ease-in-out;
      background-color: var(--color-middle-gray);
   }

   .form__area:not(:placeholder-shown) {
      color: var(--background-color);
   }

   .form__btn {
      margin-right: 17px;
      padding: 20px 52px;
      outline: none;
      transition: opacity 0.3s ease-in-out;
   }

   .checkbox {
      position: absolute;
      opacity: 0;
   }

   .checkbox-text {
      display: flex;
      position: relative;
      align-items: center;
      cursor: pointer;
      display: inline-block;
      border: 1px solid transparent;
      padding-left: 18px;
      color: var(--color-light-gray);
   }

   .checkbox-text::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      border: 1px solid var(--color-light-gray);
   }

   .checkbox-text::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 7px;
      height: 7px;
      opacity: 0;
      background-image: url("../img/checked.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
   }

   .checkbox:checked + .checkbox-text::after {
      opacity: 1;
   }

   .checkbox:focus + .checkbox-text {
      outline: 3px solid var(--color-default);
   }

   .footer__text {
      max-width: 363px;
      line-height: 36px;
      text-align: justify;
      padding-bottom: 10px;
      color: var(--color-light-gray);
   }
